In [1]:
import pandas as pd
from sqlalchemy import create_engine

houseinfo_csv_path = 'final_house_info.csv'

# MySQL database configuration
db_config = {
    'user': 'root',
    'password': 'admin',
    'host': 'localhost',
    'port': 3306,
    'database': 'hoshinoHome'
}

houseinfo_df = pd.read_csv(houseinfo_csv_path, encoding='utf-8')

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}")

houseinfo_df.to_sql('houseinfo', con=engine, if_exists='append', index=False)

print("houseinfo 데이터가 MySQL 데이터베이스에 성공적으로 삽입되었습니다.")

houseinfo 데이터가 MySQL 데이터베이스에 성공적으로 삽입되었습니다.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# CSV 파일 경로
housedeal_csv_path = 'final_house_deal.csv'

# MySQL 데이터베이스 구성
db_config = {
    'user': 'root',
    'password': 'admin',
    'host': 'localhost',
    'port': 3306,
    'database': 'hoshinoHome'
}

# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+pymysql://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}")

# CSV 파일 읽기
housedeal_df = pd.read_csv(housedeal_csv_path, encoding='utf-8')

# 데이터베이스에 데이터 삽입
housedeal_df.to_sql('housedeal', con=engine, if_exists='append', index=False)

print("housedeal 데이터가 MySQL 데이터베이스에 성공적으로 삽입되었습니다.")

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_22000\2226679162.py:20: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  housedeal_df = pd.read_csv(housedeal_csv_path, encoding='utf-8')

housedeal 데이터가 MySQL 데이터베이스에 성공적으로 삽입되었습니다.

In [4]:
# Check for rows with empty house_name in house_info_df
empty_house_code_info = housedeal_df[housedeal_df['house_code'].isna()]

# Print the results
print("Rows with empty house_code in housedeal_df:")
print(empty_house_code_info)

Rows with empty house_code in housedeal_df:
              deal_code  deal_type deal_amount deposit_amount monthly_amount  \
236      11110110000237          1      70,000            NaN            NaN
237      11110110000238          1      69,970            NaN            NaN
240      11110110000241          1     110,000            NaN            NaN
243      11110110000244          1      72,990            NaN            NaN
244      11110110000245          1      72,900            NaN            NaN
...                 ...        ...         ...            ...            ...
1325591  11110431350268          3         NaN          3,000             50
1325592  11110421350269          2         NaN         10,000              0
1325601  11110421350278          2         NaN         12,000              0
1325602  11110421350279          2         NaN         14,000              0
1325604  11110421350281          2         NaN         10,000              0

             jibun_address                road_address  deal_year  deal_month  \
236       서울특별시 종로구 무악동 82    서울특별시 종로구 무악동 통일로 246-20       2023           5
237       서울특별시 종로구 무악동 82    서울특별시 종로구 무악동 통일로 246-20       2023           5
240       서울특별시 종로구 무악동 82    서울특별시 종로구 무악동 통일로 246-20       2023           4
243       서울특별시 종로구 무악동 82    서울특별시 종로구 무악동 통일로 246-20       2023           3
244       서울특별시 종로구 무악동 82    서울특별시 종로구 무악동 통일로 246-20       2023           3
...                    ...                         ...        ...         ...
1325591  서울특별시 강동구 강일동 677  서울특별시 강동구 강일동 아리수로91길 24-9       2024           4
1325592  서울특별시 강동구 강일동 677  서울특별시 강동구 강일동 아리수로91길 24-9       2024           4
1325601  서울특별시 강동구 강일동 677  서울특별시 강동구 강일동 아리수로91길 24-9       2024           4
1325602  서울특별시 강동구 강일동 677  서울특별시 강동구 강일동 아리수로91길 24-9       2024           5
1325604  서울특별시 강동구 강일동 677  서울특별시 강동구 강일동 아리수로91길 24-9       2024           5

         deal_day    area  floor  house_code  house_type
236             4   60.00    2.0         NaN         NaN
237             4   60.00    2.0         NaN         NaN
240            14  114.90    9.0         NaN         NaN
243            23   84.92    3.0         NaN         NaN
244            13   60.00   12.0         NaN         NaN
...           ...     ...    ...         ...         ...
1325591         2   22.27    6.0         NaN         NaN
1325592         5   22.27    8.0         NaN         NaN
1325601        30   23.09    4.0         NaN         NaN
1325602         2   26.43    2.0         NaN         NaN
1325604         8   22.27    3.0         NaN         NaN

[322299 rows x 14 columns]